.App {
  background: linear-gradient(81.43deg, #07c8f9 -72.59%, #0d41e1 125.21%);
}

.inputBg {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #ffffff;
  backdrop-filter: blur(21px);
  border-radius: 37px;
}

.weatherBg {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #ffffff;
  backdrop-filter: blur(4px);
  border-radius: 35px;
}
